/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url(./home.css);
@import url(./services.css);
@import url(./skills.css);
@import url(./portfolio.css);
@import url(./contact.css);
@import url(./footer.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: url('../images/muse.svg'), auto;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    color: var(--font-color);
    font-family: 'Poppins';

}
/* ===== Colours ===== */
@media (prefers-color-scheme: dark) {

    :root {
        --body-color: linear-gradient(180deg, rgb(42, 47, 80) 0%, #4757a0 100%);
        --font-color: #ffffff;
        --scrollbar: linear-gradient(180deg, #a163f7 0%, #45e3ff 100%);

    }
}
@media (prefers-color-scheme: light) {

    :root {
        --body-color: linear-gradient(180deg, rgb(255,254,241) 0%, #45e3ff 100%);
        --font-color: #000000;
        --scrollbar: linear-gradient(180deg, #45e3ff 0%, #a163f7 100%);

    }
}

/* ===scrollbar=== */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #d6d6d6;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border: 0.5px solid #fff;

}



body{
    background-image: var(--body-color);
    overflow-x: hidden;
}
section{
    margin-top: 50px;
}
section.home{
    margin-top: 0px;
}
section .header {
    width: 100%;
    display: flex;
    color: var(--font-color);
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
section .header img {
    width: 90px;
}
button{
    background: linear-gradient(90deg, #a163f7 0%, #45e3ff 100%);
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    outline: none;
    border: none;
}
a.btn{
    background: linear-gradient(90deg, #a163f7 0%, #45e3ff 100%);
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    outline: none;
    border: none;

}
.btn-top{
    position: fixed;
    bottom:3%;
    right: 2%;
    background: linear-gradient(90deg, #a163f7 0%, #45e3ff 100%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 10000;
    display: block;
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}
.btn-top i{
    font-size: 1.2rem;
    padding: 20px;
    cursor: pointer;

}
