section.home{
   height: 100vh;
}
section.home .row{
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
section.home .row .col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
section.home .row .col img{
    margin-top: 20px;
    width: 100%;
}
section.home .row .col h1{
font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
}
section.home .row .col h2{
    margin-top: 20px;
    font-size: 2rem;

    
}
section.home .row .col h2 span{
    color: #45e3ff;
}

 button{
    background: linear-gradient(90deg, #a163f7 0%, #45e3ff 100%);
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    outline: none;
    border: none;
}
.btn-group ul{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(15px);
}
.btn-group ul li a{
    color: #fff;
}
@media screen and (max-width:767px) {
    section.home .row{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    section.home .row .col h1{
        font-size: 3rem;
    }
    section.home .row .col h2{
        font-size: 1rem;
        
    }
    
}
