.portfolio-box {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(15px);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
  margin-top: 30px;
}  
 .btn-container {  
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
 backdrop-filter: blur(15px);
  border-top-left-radius: 20px;  
  border-top-right-radius: 20px;  
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr;  
 }  
 .tab-btn:nth-child(1) {  
  border-top-left-radius: 20px;  
 }  
 .tab-btn:nth-child(3) {  
  border-top-right-radius: 20px;  
 }  
 .tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  display: block;
  background: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  letter-spacing:2px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}  
 .tab-btn:hover:not(.active) {  
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1)100%, rgba(255, 255, 255, 0) 100%);
  font-size: 1.23rem;
  color: #45e3ff;
 }  
 .portfolio-content {  
  border-bottom-left-radius:20px;  
  border-bottom-right-radius: 20px;  
  padding: 2rem 1.5rem; 
 
 }  
 /* hide content */  
 .content {
  display: none;
  transition: all 0.4s ease-in-out ;
  -webkit-transition: all 0.4s ease-in-out ;
  -moz-transition: all 0.4s ease-in-out ;
  -ms-transition: all 0.4s ease-in-out ;
  -o-transition: all 0.4s ease-in-out ;
}  
 .tab-btn.active {  
    background: linear-gradient(90deg, #a163f7 0%, #45e3ff 100%);
 }  
 .content.active {  
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; 
 }  

 /* card style */
 .card-conten{
  width: 100%;
  display: flex;
  
 }
 .image {  
  width: 100%;  
  height: 100%;  
  border-radius: 20px;  
  transition: all 0.3s ease-in-out;  
  z-index: 20;  
  box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.49);  
}  
.card-wrapper {  
  position: relative;  
  width: 40%;
  height: 250px;
  border-radius: 20px;  
  overflow: hidden;  
  transition: all 0.3s ease-in-out;  
  box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.49);  
  margin-top: 40px;
}  
.card-wrapper:hover .image {  
  filter: blur(1.4px);  
  transform: scale(1.5);  
  overflow: hidden;  
  transition: all 0.3s linear;  
  box-shadow: inset -6px -1px 32px 0px rgba(0, 0, 0, 0.75);  
}  
.card-wrapper:hover .card-bottom {  
  transform: translate(0%, -50%);  
  transition: all 0.8s ease;  
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.342) 100%, rgba(0, 0, 0, 0.212) 100%); 
}  
.card-top {  
  position: relative;  
  width: 100%;  
  height: 100%;  
  z-index: 1;  
}  
.card-bottom {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  display: nonee;
  top: 50%;
  background-color: rgba(110, 122, 92, 0);
  padding: 100px 20px;
  color: #fff;
  transform: translate(100%, -50%);
  -webkit-transform: translate(100%, -50%);
  -moz-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  -o-transform: translate(100%, -50%);
}  
.top-text {  
  font-size: 25px;  
  line-height: 40px;  
  font-weight: bold;  
  letter-spacing: 1px;  
 
}  
.bottom-text {  
  font-size: 15px;  
 
} 

.link-btn svg{
  padding: 30px;
  width: 100px;
  height: 100px;
  fill: #dadada !important;
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition:all 0.2s ease-in-out;
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -ms-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  position: fixed;
  right:-30px;
  bottom: 0;
}
.link-btn svg:hover{
  fill: #45e3ff !important;
  
}

@media screen and (max-width: 768px) {
  .card-wrapper { 
    width:100%;
    height: auto;
  }
  .card-bottom {
   width: 100%;
   height: auto;
  }
 
  /* .link-btn svg{
    margin-top: 10px;
    margin-left:81%;
  } */
}

  
