
.skill-container {
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

section.skills .skill_stily {
    position: relative;
    margin: 40px;
}

section.skills .outer {
    height: 138px;
    width: 138px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 19.4px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(0, 0, 0, 0.7);
}

section.skills .outer .inner {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;

}

section.skills .outer .inner #number {
    font-weight: 600;
    color: var(--font-color);
    text-align: center;
    font-size: 22px;
}

section.skills .outer .inner #number span {
    font-weight: 600;
    color: #b6b6b6;
    font-size: 20px;
}
section.skills svg {
    position: absolute;
    top: 0;
    left: 0;
}
section.skills circle {
   fill: none;
   stroke:url(#GradientColor);
   stroke-width: 15px;
   stroke-dasharray: 364;
   stroke-dashoffset: 364;
   transition: 1s ease-in-out ;
   -webkit-transition: 1s ease-in-out ;
   -moz-transition: 1s ease-in-out ;
   -ms-transition: 1s ease-in-out ;
   -o-transition: 1s ease-in-out ;
}

.conten{
    width: 100px;
    height: 100px;
    padding:20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    

}
.conten .number{
    margin-top: -20px;
}

@media screen and (max-width: 768px) {
    section.skills .skill_stily {
        margin: 10px;
    }
}



