@import url(./control.css);

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.contener {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color:var(--scrollbar);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.13);
}

.contener .left_box {
    position: relative;
    background: var(--body-color);
    padding: 40px;
}

.profiltext {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.profiltext .boximg {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profiltext .boximg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profiltext h2 {
    color: var(--font-color);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profiltext h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contactinfo {
    padding-top: 40px;
}

.title {
    color:var(--font-color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactinfo ul {
    position: relative;
}

.contactinfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactinfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color:#00C4F0;
}

.contactinfo ul li span {
    color: var(--font-color);
    font-weight: 300;
}

.contactinfo.education li {
    margin-bottom: 15px;
}

.contactinfo.education h5 {
    color: #00C4F0;
    font-weight: 500;
}

.contactinfo.education h4:nth-child(2) {
    color: var(--font-color);
    font-weight: 500;
}

.contactinfo.education h4 {
    color: #727272;
    font-weight: 300;
}

.contactinfo.Languages .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background:var(--body-color);
  display: block;
  margin-top: 5px;
  
}

.contactinfo.Languages .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:var(--scrollbar);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.contener .right_box {
    position: relative;
    background:var(--scrollbar);
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: var(--font-color-2);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: var(--p-color);
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .plase {
    min-width: 150px;
}

.about .box .plase h5 {
    text-transform: uppercase;
    color: var(--font-color-2);
    font-weight: 600;
}

.about .box .text h4 {
    text-transform: uppercase;
    color: #00C4F0;
    font-size: 16px;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #00C4F0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
}

@media(max-width:1000px) {
    .contener {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width:600px) {
    .about .box {
        flex-direction: column;
    }
    .about .box .plase {
        margin-bottom: 5px;
    }
    .skills .box {
        grid-template-columns: repeat(1, 1fr);
    }
}